.carousel-image {
    height: 65vh;
    @media (max-width: 720px) {
        height: 35vh;
    }
    object-fit: cover;
    width: 100%;
}

.carousel-caption {
    bottom: 30%;
}

.card-wrapper {
    transition: transform 0.3s ease;
}

.card-wrapper:hover {
    transform: scale(1.05);
}

.form-control {
    background-color: #f5f5f5;
}

.page-title-text {
    font-size: 2rem;
    font-weight: 500;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.icon {
    text-decoration: none;
}

.card:hover .product-name {
    text-decoration: underline;
}
