.carousel-image {
    max-height: 350px;
    object-fit: cover;
}

.img-thumbnail {
    transition: transform 0.3s ease;
}

.img-thumbnail:hover {
    transform: scale(1.1);
}

.form-control{
    background-color: #f5f5f5;
}